extends pug/base

append vars
	- htmlClass = 'page-index'
	- url = ''
	- title = ''
	- description = ''
	- twitterTitle = ''
	- twitterDescription = ''
	- image = ''

block content
	.site-wrapper
		.container
			