.site-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url("../images/pattern.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

// container

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  background-color: transparent;
}
