// stylelint-disable scss/dollar-variable-empty-line-before

// Colors

$color-curious-blue: #1698d9;
$color-picton-blue: #2ea8e6;
$color-razzmatazz: #d91667;
$color-cerise-red: #e62e7a;
$color-nobel: #b3b3b3;
$color-laser-lemon: #ff6;
$color-dove-gray: #666;

// Typography

$font-trebuchet: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

// Vendor
